.cards-container {
    display: grid;
    grid-gap: 50px;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    border-radius: 20px;
    perspective: 1000px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://img5.goodfon.ru/wallpaper/nbig/2/97/mojave-desert-night.jpg") no-repeat;
    background-size: cover;
    font-family: 'Red Hat Display', sans-serif;
}

.quiz-container {
    border-radius: 20px;
}

.card {
    position: relative;
    transition: all .5s;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    position: absolute;
}

.front {
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    z-index: 1;
    transform: rotateY(180deg);
}

.quiz-title {
    color: honeydew;
    opacity: 85%;
    text-align: center;
}

.Mexico {
    background: linear-gradient(#eed261, #f5682c);
}

.Guinea {
    background: linear-gradient(forestgreen, lightseagreen);
}

.Iceland {
    background: linear-gradient(#8ab9e1, #3636c0);
}

.Korea {
    background: linear-gradient(#fcdddd, #f391c0);
}

.Sweden {
    background: linear-gradient(snow, darkolivegreen);
}

.Georgia {
    background: linear-gradient(darkolivegreen, gray);
}

.Honduras {
    background: linear-gradient(deepskyblue, sandybrown);
}

.Tunisia {
    background: linear-gradient(forestgreen, sandybrown);
}

.Austria {
    background: linear-gradient(dodgerblue, green);
}
